#navbar{
    /* border :1px solid black; */
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

#navbar>h3{
    padding-left: 10px;
}
#navbar>a{
    padding-right: 20px;
    padding-top: 18px;
}
#voucher_list
{
    display: grid;grid-template-columns: repeat(4,1fr);gap: 20px;width: 89%;margin: auto;
}

#voucher_list>div>img{
    width: 100%;
}